@import '~antd/dist/antd.css';

body {
    background: #efefef;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-content{
    flex-grow: 1;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: #fff;
}

::-webkit-scrollbar-track{
    background: #fff;
}

::-webkit-scrollbar-thumb {
    height: 4px;
    width: 4px;
    background-color: #138df2;
}

.text-center {
    text-align: center;
}