.about {
    width: 99%;
    background: #fff;
    margin: 5px 0;
    padding: 40px 35px;
    border-radius: 5px;
    text-align: justify;
    animation: fade-in 650ms linear;
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


.about--header, .about--content {
    color: #33475b !important;
}

.about--header {
    font-size: calc((100vw - 480px) / (1280 - 480) * (32 - 16) + 18px) !important;
}

.about--content {
    font-size: calc((100vw - 480px) / (1280 - 480) * (16 - 16) + 16px) !important;
}

@media (max-width: 640px) {
    .about {
        padding: 30px;
    }

    .about--header {
        font-size: 24px !important;
    }

    .about--content {
        font-size: 18px !important;
    }
}

@media (max-width: 560px) {
    .about {
        padding: 20px;
    }

    .about--header {
        font-size: 21px !important;
    }

    .about--content {
        font-size: 16px !important;
    }
}

@media (max-width: 375px) {
    .about {
        padding: 20px 15px;
    }

    .about--header {
        font-size: 18px !important;
    }

    .about--content {
        font-size: 15px !important;
    }
}
